# Dependencies
/Frontend/node_modules
/Frontend/package-lock.json

/Frontend_new/node_modules
/Frontend_new/package-lock.json

# Next.js
/Frontend_new/.next/cache
/Frontend_new/.next/
/Frontend_new/out/
/Frontend_new/.vercel/

# macOS
.DS_Store